input, textarea, button {
	outline: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input {
	
	&.input {
		padding: 0 30px;
		display: block;
		width: 100%;
		height: 50px;
		border: 2px solid #fff;
		border-radius: 50px;
		background-color: transparent;
		color: #fff;

		&::-webkit-input-placeholder {
			color: #fff;
		}

		&::-moz-placeholder {
			color: #fff;
		}

		&:-ms-input-placeholder {
			color: #fff;
		}

		&:-moz-placeholder {
			color: #fff;
		}
	}
}

button {
	padding: 0;
	display: block;
	cursor: pointer;
}