@each $key, $value in $fonts_names
{
	@font-face {
		font-family: '#{$key}';
		src: url('#{$value}#{$key}.eot');										// IE9 Compat Modes
		src: url('#{$value}#{$key}.eot?#iefix') format('embedded-opentype'), 	// IE6-IE8
			 url('#{$value}#{$key}.woff') format('woff'),						// Pretty Modern Browsers
			 url('#{$value}#{$key}.ttf') format('truetype'),					// Safari, Android, iOS
			 url('#{$value}#{$key}.svg##{$key}') format('svg');					// Legacy iOS
		font-weight: normal; 
		font-style: normal;
	}
}

html {
	height: 100%;
	margin-right: 0 !important;
}

body {
	font: 14px/1 $font_default;
	height: 100%;
	overflow-x: hidden;
}

a, button {
	outline: none !important;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.content {
	flex: 1 0 auto;
}