// ---------------------------------------------- Paths ------------------------------------------------
@function fonts_path( $font_name ) {
	@return '/frontend/fonts/' + $font_name + '/';
}

$path_to_images: '/frontend/img/';

// ---------------------------------------------- Fonts ------------------------------------------------
$fonts_names: (
	'Montserrat-Black': fonts_path('Montserrat-Black'),
	'Montserrat-Bold': fonts_path('Montserrat-Bold'),
	'Montserrat-BoldItalic': fonts_path('Montserrat-BoldItalic'),
	'Montserrat-ExtraBold': fonts_path('Montserrat-ExtraBold'),
	'Montserrat-Italic': fonts_path('Montserrat-Italic'),
	'Montserrat-Medium': fonts_path('Montserrat-Medium'),
	'Montserrat-MediumItalic': fonts_path('Montserrat-MediumItalic'),
	'Montserrat-Regular': fonts_path('Montserrat-Regular'),
	'Montserrat-SemiBold': fonts_path('Montserrat-SemiBold'),
	'Montserrat-SemiBoldItalic': fonts_path('Montserrat-SemiBoldItalic')
);

$font_default: 'Montserrat-Regular';
$font_black: 'Montserrat-Black';
$font_bold: 'Montserrat-Bold';
$font_bold_italic: 'Montserrat-BoldItalic';
$font_extra_bold: 'Montserrat-ExtraBold';
$font_italic: 'Montserrat-Italic';
$font_medium: 'Montserrat-Medium';
$font_medium_italic: 'Montserrat-MediumItalic';
$font_semi_bold: 'Montserrat-SemiBold';
$font_semi_bold_italic: 'Montserrat-SemiBoldItalic';

// --------------------------------------------- Colors ------------------------------------------------
$text_color_default: #323232;
$link_color_default: blue;