.gallery-albums {
	margin-bottom: 50px;

	li {

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	a {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 200px;
		border-radius: 10px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		background-color: #af5be8;
		text-decoration: none;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			background-color: rgba(0, 0, 0, 0.6);
			transition: .3s;
		}

		&:after {
			content: "";
			position: absolute;
			top: -5px;
			left: -5px;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			border: 2px solid #fdd147;
		}

		&:hover {

			&:before {
				background-color: rgba(0, 0, 0, 0);
			}
		}

		span {
			position: relative;
			display: block;
			width: 100%;
			font: 20px/1 $font_bold;
			color: #fff;
			text-align: center;
		}
	}
}

.btn-albums-more {
	
	@include more( 0 0 20px 0, 'arrow-circle' );
}