.posts {
	margin-bottom: 100px;

	.post {
		position: relative;
		min-height: 445px;
		margin-bottom: 30px;
		padding-bottom: 40px;

		&:before {
			content: "";
			position: absolute;
			top: -7px;
			left: -7px;
			display: block;
			width: 100%;
			height: 100%;
			border: 2px solid #fdd147;
			border-radius: 10px;
			background-color: transparent;
		}

		.p-preview {
			position: relative;
			z-index: -1;
			margin-bottom: 20px;
			width: 100%;
			height: 255px;
			border-radius: 10px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			background-color: #fdd147;
			transition: .3s;

			&:hover {
				opacity: 0.9;
			}
		}

		.p-date {
			position: absolute;
			left: 0;
			bottom: 10px;
			padding: 12px 0 0 20px;
			width: 80px;
			height: 35px;
			border-radius: 0 17px 17px 0;
			font: 12px/1 $font_medium_italic;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.7);
		}

		.p-title, .p-annotation {
			position: relative;
			margin-bottom: 10px;
			padding: 0 25px 0 5px;
			color: #292929;
		}

		.p-title {
			font: 14px/1.3 $font_bold;
			text-align: center;
			text-transform: uppercase;
		}

		.p-annotation {
			font: 12px/1.5 $font_medium;
		}

		.p-more {
			position: absolute;
			bottom: 25px;
			display: block;
			width: 100%;
			font: 12px/1 $font_semi_bold;
			color: #af5be8;
			text-align: center;
			text-transform: uppercase;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

// Media
@media (min-width: 992px) and (max-width: 1199px) {

	.posts {

		.post {
			min-height: 415px;

			.p-preview {
				height: 210px;
			}
		}
	}
}