.products {
	position: relative;
	margin-bottom: 80px;
	padding-bottom: 95px;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 2px;
		background: url($path_to_images + 'broken_line_1.png') top center repeat-x;
	}

	.product-item {
		margin-bottom: 35px;
	}
}

// Media
@media (min-width: 992px) and (max-width: 1199px) {

	.product-item {
		padding-left: 15px;
		padding-right: 15px;

		.p-price {

			.f-left, .f-right {
				float: none;
			}

			.p-name, .p-number {
				margin-bottom: 20px;
				text-align: center;
			}

			.btn-order {
				margin: 0 auto;
			}
		}
	}
}