.search {

	.pagination {
		margin-bottom: 80px;
	}

	.s-title {
		margin-bottom: 45px;
		font: 20px/1.3 $font_bold;
		color: #292929;
		text-align: center;

		span {
			font-size: 40px;
		}
	}
}

.s-results {

	li {
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 30px;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background: url($path_to_images + 'broken_line_1.png') 0 0 repeat-x;
		}
	}

	.sr-title {
		position: relative;
		margin-bottom: 10px;
		padding-left: 20px;

		span {
			position: absolute;
			top: 5px;
			left: 0;
			display: block;
			font: 14px/1.3 $font_medium;
			color: #292929;
		}
		
		a {
			font: 25px/1 $font_semi_bold;
			color: #af5be8;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.sr-text {
		margin: 0 0 10px 20px;
		font: 12px/1.5 $font_medium_italic;
		color: #292929;
	}

	.sr-more {
		position: relative;
		padding: 0 20px;
		font: 12px/1.3 $font_semi_bold;
		color: #af5be8;

		&:before {
			content: "";
			position: absolute;
			top: 3px;
			right: 0;
			display: block;
			width: 11px;
			height: 11px;
			background: url($path_to_images + 'sprite.png') -221px -26px no-repeat;
		}

		&:hover {
			text-decoration: none;
		}
	}
}