.sitemap {
	margin-bottom: 80px;

	li {
		margin-bottom: 15px;

		&.childs {

			> a {
				font-family: $font_medium;
				color: #af5be8;
				text-decoration: none;
			}

			ul {
				margin: 10px 0 0 30px;
			}
		}
	}

	a {
		font: 14px/1.3 $font_medium_italic;
		color: #292929;

		&:hover {
			text-decoration: none;
		}
	}
}