.team {
	margin-bottom: 50px;
}

.t-item {
	position: relative;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 530px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-color: #fdd147;

	&:before, &:after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}

	&:before {
		z-index: 1;
		top: -10px;
		left: -10px;
		border: 2px solid #fdd147;
		background-color: transparent;
	}

	&:after {
		opacity: 0;
		background: url($path_to_images + 'background_service_item.png') top right no-repeat;
		transition: .3s;
	}

	&:hover {

		&:after, .ti-name {
			opacity: 1;
		}
	}

	.ti-label {
		position: absolute;
		z-index: 2;
		left: -10px;
		bottom: 45px;
		padding: 18px 10px 0 30px;
		height: 50px;
		min-width: 115px;
		background-color: #fdd147;
		font: 14px/1 $font_bold;
		letter-spacing: 1px;
		color: #292929;
		text-transform: uppercase;

		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			display: block;
			width: 20px;
			background-color: #fdd147;
		}

		&:before {
			right: -13px;
			height: 100%;
			transform: skewX(-25deg);
		}

		&:after {
			right: -10px;
			height: 20px;
		}
	}

	.ti-name {
		width: 100%;
		opacity: 0;
	}

	.tin-first, .tin-last {
		position: relative;
		z-index: 3;
		width: 100%;
		font: 20px/1.3 $font_medium_italic;
		letter-spacing: 1px;
		color: #fff;
		text-transform: uppercase;
	}

	.tin-first {
		padding-left: 105px;
	}

	.tin-last {
		padding-right: 95px;
		text-align: right;
	}
}

// Media
@media (max-width: 1199px) {

	.t-item {

		.tin-first, .tin-last {
			padding: 0;
			text-align: center;
		}
	}
}