.header {
	flex: 0 0 auto;
	background: url($path_to_images + 'background_header_main.png') top center no-repeat,
				url($path_to_images + 'background_header_line.png') 0 0 repeat-x;

	&.main {
		padding: 48px 0 0 48px;
		height: 100vh;
		max-height: 960px;
		min-height: 860px;
	}

	&.other {
		margin: 0 auto 20px auto;
		padding: 50px 0;
		width: 100%;
		max-width: 1820px;
		border-radius: 0 0 10px 10px;
	}

	// Header grid
	@import "components/header_grid";

	// Logo
	@import "components/header_logo";

	// Menu
	@import "components/header_menu";

	// Phone box
	@import "components/header_phone_box";

	// Slider
	@import "components/header_slider";

	// Languages
	@import "components/languages";

	// Search
	@import "components/form_search";

	// Btn more information
	@import "components/btn_more_info";
}

// Media
@media (max-width: 1649px) {

	.header {

		&.main {
			padding-left: 0;
			max-height: 100%;
			min-height: 100%;
			height: auto;
			background: url($path_to_images + 'background_header_line.png') 0 0 repeat-x;
			background-size: contain;
		}
	}
}
@media (max-width: 992px) {

	.header {

		&.main {
			padding: 30px 15px 0 15px;
		}

		&.other {
			padding: 30px 0;
		}
	}
}