.header {

	&.other {

		.address {
			margin-top: 45px;
		}
	}
}

.address {
	position: relative;
	padding-left: 30px;

	&:before {
		content: "";
		position: absolute;
		top: 2px;
		left: 0;
		display: block;
		width: 10px;
		height: 15px;
		background: url($path_to_images + 'sprite.png') -25px 0px no-repeat;
	}

	li {
		
		a {
			font-size: 16px;
			line-height: 1.3;
			color: #fff;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
		
		span {
			font-family: $font_bold;
		}
	}
}

// Media
@media (max-width: 1199px) {

	.header {

		&.other {

			.address {
				
				li {
					
					a {
						font-size: 14px;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {

	.header {

		&.other {

			.address {
				float: none !important;
				margin-top: 25px;
				padding-left: 0;
				text-align: center;

				&:before {
					display: none;
				}
			}
		}
	}
}