.callback-box {
	position: relative;
	padding: 16px 10px;
	width: 155px;
	border-radius: 10px;
	background-color: #fff;

	&:before {
		content: "";
		position: absolute;
		top: -3px;
		left: -3px;
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid #fdd147;
		border-radius: 10px;
	}

	.cb-title {
		margin-bottom: 15px;
		font: 12px/1.7 $font_semi_bold;
		color: #292929;
		text-align: center;
	}

	.cb-btn-callback {

		@include button( 135, 40, 12, 'phone', false );

		padding: 14px 0 0 20px;

		&:after {
			right: 14px;
		}
	}
}

// Media
@media (max-width: 1199px) {

	.callback-box {
		float: right;
	}
}
@media (max-width: 767px) {

	.callback-box {
		float: none;
		width: 100%;

		.cb-btn-callback {
			margin: 0 auto;
		}
	}
}