.subscribe {
		
	.s-title {
		margin-bottom: 5px;
		font: 20px/1.3 $font_bold;
		color: #fff;
		text-transform: uppercase;
	}

	.s-description {
		margin-bottom: 17px;
		font: 12px/1.3 $font_medium;
		color: #fff;
	}

	button {

		@include button( 205, 50, 14, 'plane', true );

		padding-left: 30px;
		text-align: left;
	}
}

// Media
@media (min-width: 992px) and (max-width: 1199px) {

	.subscribe {

		button {
			padding-left: 25px;
			font-size: 13px;
		}
	}
}
@media (max-width: 992px) {

	.subscribe {

		input {
			margin-bottom: 20px;
		}

		button {
			max-width: 100%;
		}
	}
}
@media (max-width: 767px) {

	.subscribe {
	
		.s-title, .s-description {
			text-align: center;
		}

		button, input {
			margin-left: auto;
			margin-right: auto;
			max-width: 360px;
		}
	}
}