.contacts {

	.c-title {
		margin-bottom: 13px;
		font: 20px/1 $font_bold;
		color: #fff;
		text-transform: uppercase;
	}

	.c-phone, .c-mail {
		position: relative;
		display: block;
		padding-left: 30px;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			display: block;
			height: 14px;
			background: url($path_to_images + 'sprite.png') no-repeat;
		}
	}

	.c-phone {
		margin-bottom: 13px;
		font: 16px/1.3 $font_medium;
		color: #fff;
		text-decoration: none;

		&:before {
			top: 1px;
			width: 14px;
			background-position: -211px -1px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.c-mail {
		margin-top: 10px;
		font: 16px/1.3 $font_medium_italic;
		color: #fdd147;
		text-decoration: underline;

		&:before {
			top: 3px;
			width: 16px;
			background-position: -229px -1px;
		}
		
		&:hover {
			text-decoration: none;
		}
	}
}

// Media
@media (max-width: 1199px) {

	.contacts {

		.address {
			
			li {
				font-size: 14px;
				line-height: 1.4;
			}
		}
	}
}
@media (max-width: 767px) {

	.contacts {
		margin-bottom: 30px;

		.c-title {
			text-align: center;
		}
	}
}