.menu {

	li {

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	a, span {
		display: block;
		font: 12px/1.3 $font_semi_bold;
		text-transform: uppercase;
	}

	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #fdd147;
			text-decoration: underline;
		}
	}

	span {
		color: #fdd147;
		text-decoration: underline;
	}
}