&.other {

	.search {
		margin: 50px 20px 0 20px;
	}
}

.search {
	position: relative;

	&.main {
		float: right;
		margin-right: 50px;
		width: 325px;
	}
	
	input {
		padding: 0 60px 0 30px;
		display: block;
		width: 100%;
		height: 51px;
		border: 2px solid #fff;
		border-radius: 51px;
		background-color: transparent;
		font: 12px/1 $font_italic;
		color: #fff;

		&::-webkit-input-placeholder {
			font: 12px/1 $font_italic;
			color: #fff;
		}

		&::-moz-placeholder {
			font: 12px/50px $font_italic;
			color: #fff;
		}

		&:-ms-input-placeholder {
			font: 12px/1 $font_italic;
			color: #fff;
		}

		&:-moz-placeholder {
			font: 12px/50px $font_italic;
			color: #fff;
		}
	}

	button {
		position: absolute;
		top: 5px;
		right: 20px;
		width: 35px;
		height: 40px;
		background-color: transparent;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			width: 13px;
			height: 13px;
			background: url($path_to_images + 'sprite.png') -10px 0 no-repeat;
		}
	}
}

// Media
@media (max-width: 1649px) {

	.search {

		&.main {
			float: none;
			margin-right: 30px;
			display: inline-block;
			vertical-align: top;
		}
	}
}
@media (max-width: 767px) {

	&.other {

		.search {
			margin: 30px auto 0 auto;
			max-width: 360px;
		}
	}
}
@media (max-width: 699px) {

	.search {
		
		&.main {
			margin: 0 auto 25px auto;
			display: block;
			max-width: 325px;
			width: 100%;
		}
	}
}