.logo {
	float: left;
	margin-right: 50px;
	display: block;
	width: 120px;
	height: 60px;
	
	svg {
		width: 100%;
		height: 100%;
	}
}

// Media
@media (max-width: 1649px) {

	.logo {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
}
@media (max-width: 992px) {

	.logo {
		margin: 0 auto 35px auto;
		display: block;
		width: 200px;
		height: auto;
	}
}