&.other {

	.languages {
	
		li {

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}

.languages {

	&.main {
		margin-top: 38px;

		li {
			display: inline-block;
			vertical-align: top;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	a, span {
		display: block;
		font: 12px/1 $font_semi_bold;
		text-transform: uppercase;
	}

	a {
		color: #e9e9e9;
		text-decoration: none;
		transition: .3s;

		&:hover {
			color: #fdd147;
			text-decoration: underline;
		}
	}

	span {
		color: #fdd147;
		text-decoration: underline;
	}
}

// Media
@media (max-width: 1649px) {

	.languages {

		&.main {
			margin: 15px 0 35px 0;
		}
	}
}
@media (max-width: 992px) {

	&.other {

		.languages {
			float: none !important;
			margin: 0 auto;
			width: 110px;
		
			li {
				display: inline-block;
				vertical-align: top;

				&:not(:last-child) {
					margin: 0 10px 0 0;
				}
			}
		}
	}
}