.pagination {
	margin-top: 20px;
	font-size: 0;
	text-align: center;

	li {
		display: inline-block;
		vertical-align: top;

		&:first-child, &:last-child {

			&.disabled {
				display: none;
			}
		}

		&:not(:last-child) {
			margin-right: 8px;
		}

		&.active, &.disabled {
			cursor: not-allowed;
		}

		&.disabled {

			span {
				font-size: 40px;
			}
		}

		&.active {
			
			span {
				color: #292929;
				background-color: #fdd147;

				&:before {
					content: "";
					position: absolute;
					top: -5px;
					left: -5px;
					display: block;
					width: 100%;
					height: 100%;
					border: 2px solid #af5be8;
					border-radius: 3px;
					background-color: transparent;
					transition: .3s;
				}
			}
		}
	}

	a, span {
		position: relative;
		padding-top: 15px;
		display: block;
		height: 50px;
		width: 50px;
		font: 20px/1 $font_medium;
	}

	a {
		text-decoration: none;
		transition: .3s;

		&:not([rel="prev"]):not([rel="next"]) {
			background-color: #af5be8;
			color: #fff;
			border-radius: 3px;

			&:before {
				content: "";
				position: absolute;
				top: -5px;
				left: -5px;
				display: block;
				width: 100%;
				height: 100%;
				border: 2px solid #fdd147;
				border-radius: 3px;
				background-color: transparent;
				transition: .3s;
			}

			&:hover {
				color: #292929;
				background-color: #fdd147;

				&:before {
					border-color: #af5be8;
				}
			}
		}

		&[rel="prev"], &[rel="next"] {
			position: relative;
			border-radius: 50px;
			background-color: #fdd147;
			font-size: 0;

			&:before, &:after {
				content: "";
				position: absolute;
				display: block;
			}

			&:before {
				top: -4px;
				left: -4px;
				width: 50px;
				height: 50px;
				border: 2px solid #af5be8;
				border-radius: 50px;
				background-color: transparent;
				transition: .3s;
			}

			&:after {
				top: 13px;
				left: 16px;
				width: 10px;
				height: 15px;
				background: url($path_to_images + 'sprite.png') no-repeat;
			}

			&:hover {

				&:before {
					border-color: #fff;
				}
			}
		}

		&[rel="prev"] {
			margin-right: 40px;
			
			&:after {
				background-position: -36px 0;
			}
		}

		&[rel="next"] {
			margin-left: 40px;
			
			&:after {
				background-position: -48px 0;
			}
		}
	}
}

// Media
@media (max-width: 767px) {

	.pagination {

		li {

			&:not(:first-child):not(:last-child) {
				display: none;
			}
		}

		a {
			
			&[rel="prev"], &[rel="next"] {
				margin: 0;
			}
		}
	}
}