.page-title {
	margin: 0 0 55px 0;
	padding: 0;
	font: 40px/1 $font_bold;
	color: #292929;
	text-align: center;
	text-shadow: 3px 4px 0px #fff6e2;

	&.not-margin {
		margin-bottom: 5px;
	}
}

.page-description {
	margin-bottom: 45px;
	font: 14px/1.3 $font_medium;
	color: #787878;
	text-align: center;
}