.product-item {
	position: relative;
	padding: 30px;
	width: 100%;
	min-height: 595px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(107, 55, 139, 0.16);
	-moz-box-shadow: 0px 0px 21px 0px rgba(107, 55, 139, 0.16);
	box-shadow: 0px 0px 21px 0px rgba(107, 55, 139, 0.16);

	&:before {
		content: "";
		position: absolute;
		top: -7px;
		left: -7px;
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: 2px solid #fdd147;
		border-radius: 3px;
	}

	.p-middle-images, .p-thumbs-images {
		margin-bottom: 10px;

		.slick-slide {
			position: relative;
			outline: none;
			cursor: pointer;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			max-width: 100%;
		}
	}

	.p-middle-images {

		.slick-slide {
			height: 290px;
		}

		img {
			max-height: 290px;
		}
	}

	.p-thumbs-images {
		
		.slick-slide {
			width: 60px;
			height: 60px;
			border: 2px solid #e8e8e8;
			border-radius: 3px;

			&.slick-current {

				&:before {
					content: "";
					position: absolute;
					z-index: 100;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, .50);
					border-radius: 3px;
				}
			}

			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		img {
			max-height: 55px;
		}
	}

	canvas {
		margin-bottom: 20px;
		width: 100%;
	}

	.p-title {
		position: relative;
		margin-bottom: 15px;
		font: 14px/1.3 $font_bold;
		color: #292929;
		text-align: center;
		text-transform: uppercase;
	}

	.p-features {
		position: relative;
		margin-bottom: 5px;
		height: 50px;
		
		li {
			font: 12px/1.4 $font_semi_bold;
			color: #6c6c6c;

			span {
				font-family: $font_bold;
				color: #292929;
			}
		}
	}

	.p-price {
		position: relative;

		.p-name {
			margin-bottom: 8px;
			font: 12px/1 $font_semi_bold;
			color: #292929;
		}

		.p-number {
			font: 25px/1 $font_semi_bold;
			color: #af5be8;

			span {
				font-size: 12px;
				color: #292929;
			}
		}

		.btn-order {

			@include button( 160, 50, 14, 'phone', false );

			padding: 18px 0 0 27px;
			min-width: 160px;
		}
	}
}

// Media
@media (max-width: 390px) {

	.product-item {
		padding-left: 15px;
		padding-right: 15px;

		.p-price {

			.f-left, .f-right {
				float: none;
			}

			.p-name, .p-number {
				margin-bottom: 20px;
				text-align: center;
			}

			.btn-order {
				margin: 0 auto;
			}
		}
	}
}