.section-callback {
	display: flex;
	min-height: 395px;

	&:not(.inverse) {
		margin-bottom: 100px;
		background: url($path_to_images + 'background_section_callback.png') top center no-repeat,
					url($path_to_images + 'background_header_line.png') 0 0 repeat-x;

		.description {
			color: #fff;
		}

		.after-text {
			color: #fff;
		}
	}

	&.inverse {

		.description {
			color: #292929;
		}

		input {
			border-color: #292929;
			color: #292929;

			&::-webkit-input-placeholder {
				color: #292929;
			}

			&::-moz-placeholder {
				color: #292929;
			}

			&:-ms-input-placeholder {
				color: #292929;
			}

			&:-moz-placeholder {
				color: #292929;
			}
		}

		.after-text {
			color: #292929;
		}
	}

	.title {
		margin-bottom: 10px;
		font: 40px/1.3 $font_bold;
		color: #fdd147;
		text-align: center;
		text-transform: uppercase;
	}

	.description {
		margin-bottom: 30px;
		font: 16px/1.3 $font_medium;
		text-align: center;
	}

	input {
		margin-bottom: 40px;
	}

	button {

		@include button( 360, 50, 14, 'phone', true );

		margin-bottom: 40px;
		padding-left: 30px;
		text-align: left;
	}

	.after-text {
		font: 12px/1.3 $font_medium;
		color: #fff;
		text-align: center;
	}
}

// Media
@media (max-width: 992px) {

	.section-callback {
		padding: 30px 0;
		display: block;

		.title {
			font-size: 32px;
		}

		input, button {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}

		input {
			max-width: 360px;
		}
	}
}