.section-bottom {
	padding: 70px 0 30px 0;
	background: url($path_to_images + 'background_footer_bottom.png') top center no-repeat,
				url($path_to_images + 'background_header_line.png') 0 0 repeat-x;

	
	.sb-top, .sb-middle {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 2px;
		}
	}

	.sb-top {
		margin-bottom: 50px;
		padding-bottom: 70px;

		&:before {
			background: url($path_to_images + 'broken_line_3.png') top center repeat-x;
		}
	}

	.sb-middle {
		margin-bottom: 30px;
		padding-bottom: 40px;

		&:before {
			background: url($path_to_images + 'broken_line_1.png') top center repeat-x;
		}
	}
}

// Media
@media (max-width: 767px) {

	.section-bottom {
		padding: 30px 0 35px 0;

		.sb-top {
			margin-bottom: 30px;
			padding-bottom: 30px;
		}

		.sb-middle {

			.social {
				margin: 0 auto 25px auto;
				width: 190px;
			}
		}
	}
}