.section-video {
	position: relative;
	margin: 15px auto 100px auto;
	max-width: 1810px;
	height: 655px;
	border-radius: 5px;
	
	&.no-active {
		background: url($path_to_images + 'section_video_bg.jpg') 50% 50% no-repeat;
		background-size: cover;

		&:before, &:after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}

		&:before {
			top: 0;
			left: 0;
			background-color: rgba(114, 62, 142, 0.9);
			transition: .3s;
		}

		&:after {
			top: -10px;
			left: -10px;
			border: 2px solid #fdd147;
		}

		&:hover {

			&:before {
				background-color: rgba(114, 62, 142, 0.6);
			}
		}

		iframe {
			position: relative;
			z-index: -1;
		}
	}

	.sv-play {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		margin: auto;
		width: 200px;
		height: 135px;

		.svp-btn {
			position: relative;
			margin: 0 auto 20px auto;
			display: block;
			width: 100px;
			height: 100px;
			cursor: pointer;
			background-color: #fff;
			border-radius: 100px;

			&:before, &:after {
				content: "";
				position: absolute;
				display: block;
			}

			&:before {
				top: -5px;
				left: -5px;
				width: 100px;
				height: 100px;
				border-radius: 100px;
				border: 2px solid #fdd147;
			}

			&:after {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				width: 12px;
				height: 13px;
				border: 8px solid transparent;
				border-left: 8px solid #292929;
			}
		}

		.svp-text {
			font: 12px/1 $font_extra_bold;
			color: #fff;
			letter-spacing: 5px;
			text-align: center;
			text-transform: uppercase;
		}
	}
	
	iframe {
		display: block;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		border-radius: 5px;
	}
}

// Media
@media (max-width: 767px) {

	.section-video {
		height: 400px;
	}
}